body {
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 1089px;
    margin: 0 auto;
}

nav {
    background-color: rgb(0, 60, 255);
    font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: yellow;
}

header {
    text-align: center;
    padding: 20px;
    background-color: aqua;
}

header img {
    width: 100%;
    height: auto;
}

.white-text {
    color: white;
}

.red-text {
    color: red;
}

.custom-button {
    border: 2px solid black;
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
}

.section1 {
    padding: 20px;
    color: rgb(68, 68, 68);
}

.section1 img {
    width: 100%;
    height: auto;
}

.section2 {
    padding: 20px;
    color: black;
}

.section2 img {
    width: 100%;
    height: auto;
}

footer {
    background-color: rgb(68, 68, 68);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
}